/*stylesheet for harvard_guide_dce.html*/

body {
	font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #A41034;
	text-transform: uppercase;
}

#subtitle {
	color: black;
}

a:link, a:hover, a:visited, a:active {
	color: #A41034;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#backToTop {
	font-size: smaller;
	text-align: right;
}

address {
	font-family: serif;
}